/* Global */
.container-fluid {
    padding: 0 40px;
}

/* Nav */
.navbar-inner {
    background: #000;
    border-radius: 0;
    color: #fff;
    padding: 10px 20px;
}
.navbar .brand {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
}
.hello-user {
    line-height: 60px;
    margin: 0 5px 0 0;
}
.login-buttons-wrap {
    line-height: 60px;
}
#login-dropdown-list {
    right: 0;
    left: auto;
}
#login-buttons a {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
}
#login-dropdown-list a {
    color: #000;
}
.nav-user-img {
    border-radius: 30px;
    margin-left: 20px;
    width: 60px;
}

.creator-img {
    border-radius: 20px;
    margin-left: 20px;
    width: 40px;
}

.nav-user-img {
    border-radius: 30px;
    margin-left: 20px;
    width: 60px;
}
.create-event-btn {
    background: #cf8929;
    border: none;
    color: #000;
    text-shadow: none;
}
.nav-right {
    padding: 10px 0;
}
.navbar .create-event-btn {
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 0 20px;
}
.navbar .create-event-btn i {
    margin: 2px 2px 0 0;
}


/* Add Activity */
#new-activity-form {
}
