/* Global */
* {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
.container-fluid {
    padding: 0 40px;
}
.logged-out-mesasge {
    text-align: center;
}
h2.logged-out-mesasge {
    margin-bottom: 30px;
}

/* Nav */
.navbar-inner {
    background: #000;
    border-radius: 0;
    color: #fff;
    padding: 10px 20px;
}
.navbar .brand {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
}
.hello-user {
    line-height: 60px;
    margin: 0 5px 0 0;
}
.login-buttons-wrap {
    line-height: 60px;
}
#login-dropdown-list {
    right: 0;
    left: auto;
}
#login-buttons a {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
}
#login-dropdown-list a {
    color: #000;
}
.nav-user-img {
    border-radius: 30px;
    margin-left: 20px;
    width: 60px;
}

.creator-img {
    border-radius: 20px;
    margin-left: 20px;
    width: 40px;
}

.nav-user-img {
    border-radius: 30px;
    margin-left: 20px;
    width: 60px;
}
.nav-right {
    padding: 10px 0;
}
.navbar .create-event-btn {
    background: #CF8929;
    border: none;
    border-radius: 2px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    margin: 12px 0 0 20px;
    padding: 8px 15px;
    text-shadow: none;
    text-transform: uppercase;
}
.navbar .create-event-btn:hover {
    background: #aaa;
}
.navbar .create-event-btn i {
    margin: 2px 2px 0 0;
}


/* Add Activity */
.new-activity-section {
    margin-bottom: 10px;
    width: 310px;
}
.new-activity-form select,
.new-activity-form textarea,
.new-activity-form input {
    width: 300px;
}
.new-activity-form select {
    height: 38px;
}
.new-activity-form input {
    padding: 18px 6px;
}
.new-activity-heading {
    color: #777;
    margin-bottom: 5px;
}
.skill-radio {
    display: none;
}
.skill-radio:checked + .skill-radio-label.beginner {
    background-color: #ABCF3B;
}
.skill-radio:checked + .skill-radio-label.intermediate {
    background-color: #61B6CB;
}
.skill-radio:checked + .skill-radio-label.expert {
    background-color: #222;
}
.skill-radio-label {
    background: #ccc;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 14px;
    text-transform: uppercase;
}
.skill-radio-label.beginner:hover {
    background-color: #ABCF3B;
}
.skill-radio-label.intermediate:hover {
    background-color: #61B6CB;
}
.skill-radio-label.expert:hover {
    background-color: #222;
}
.skill-radio-label.intermediate,
.skill-radio-label.expert {
    margin-left: 10px;
}
.date-select-wrap,
.time-select-wrap {
    float: left;
    width: 145px;
}
.time-select-wrap {
    margin-left: 10px;
}
#activity-date,
#activity-time {
    width: 100%;
}
#activity-details {
    height: 140px;
}
#create-event-btn {
    background: #CF8929;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
#create-event-btn:hover {
    background: #aaa;
}






